<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R2: About Page</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a href=".">Home</a>
            <a href="about">About</a>
            <a href="add">Add</a>
            <a href="search">Search</a>
            <a href="update">Update</a>
            <a href="list">List</a>
        </div>
    </header>

    <div>
    <h1>About CalorieBuddy</h1>

    <h3>Some detail and background to this website :</h3>

    <p>
        This site has been created by me, Wesley V Persad and I will be pleased to receive any comment or suggestions for you to improve this site at the email address shown here <a href="mailto:wvp@example.com">wvp@example.com</a>.
    </p>
    <p>
        Each page in this website can accessed by the menu in the header of each page.

        The functionality of each page is decribed below :

        <ul>
            <li><a href="./"">Home Page</a> : introduction and purpose of this site</li>
            <li>About Page : author and contact details, decription of the pages</li>
            <li><a href="add">Add Page</a> : add new foods to the database</li>
            <li><a href="search">Search Page</a> : search for foods in the database</li>
            <li><a href="update">Update Page</a> : update or delete information about food in the database</li>
            <li><a href="list">List Page</a> : list all food in the database, select ingredients and work out totals for recipe</li>
        </ul>

    </p>
    </div>

</body>
</html>