<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1: Homepage</title>

</head>

<body>
    <header>
        <div class="topnav">
            <a href=".">Home</a>
            <a href="about">About</a>
            <a href="add">Add</a>
            <a href="search">Search</a>
            <a href="update">Update</a>
            <a href="list">List</a>
        </div>
    </header>

    <div>
    <h1>Welcome to CalorieBuddy !!!</h1>

    <h3>This site will provide you with detailed nutritional information selected by you for a recipe or meal :</h3>

    <p>
        The user is given the choice to add nutritional facts for food ingredients and to store them in 
        the database. The web application should will provide the user with the sum of the calories and other nutrients for a recipe or a meal based on the food ingredients selected.
    </p>

    <p>
        For example, select the food ingredients for the recipe of ‘apple pie’ by choosing ‘flour’, ‘egg’, ‘butter’, ‘brown sugar’, and ‘apple’ and this site retrieves the nutritional facts for each food ingredient and calculates and displays the nutritional facts including calorie count of the ‘apple pie’ recipe.
    </p>
    </body>
    </div>

</body>
</html>